.card-period {
  i.el-icon-warning-outline {
    transform: rotate(180deg);
    float: right;
    color: $azul;
  }
  .title {
    text-align: center;
    margin: 1rem;
  }
  .leyends {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    margin-top: -30px;
    margin-bottom: 1rem;
    span {
      width: 50%;
      text-align: center;
    }
  }
  .footer,
  .graphic {
    text-align: center;
  }
}
