.card-benefits {
  i.el-icon-warning-outline {
    transform: rotate(180deg);
    float: right;
    color: $azul;
  }
  .title {
    text-align: center;
    margin: 1rem;
  }
  .content {
    text-align: center;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      margin-bottom: 1rem;
      i {
        margin-right: 0.5rem;
        color: $azul;
      }
      span {
        font-size: 14px;
      }
    }
  }
  .footer {
    text-align: center;
    a {
      color: $azul;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
